/*  ROOT VARIABLES */
:root{
--primary-color: #ffffff;
--secondary-color: #000000;
--tertiary-color: #ff0000;
--link-color: #0000ff;
--accent-color: #808080;
--other-color: #ffff00;
--font-size: 1em;
--font-family: 'Courier New', monospace;
}
