/*  ROOT VARIABLES */
:root{
--primary-color: #e3ddbf;
--secondary-color: #e74f1d;
--tertiary-color: #6137d2;
--link-color: #2fe9dd;
--accent-color: #5de723;
--other-color: #ffff00;
--font-size: 1.1em;
--font-family: 'Communist', serif;
}
