/*  ROOT VARIABLES */
:root{
--primary-color: #462064;
--secondary-color: #e830d9;
--tertiary-color: #ffe1b8;
--link-color: #26e8e5;
--accent-color: #873177;
--other-color: #ffff00;
--font-size: 1em;
--font-family: 'Bitstream', Verdana, sans-serif;
}
