@font-face {
    font-family: 'MyLuckyPennyRegular';
    src: url('myluckypenny-webfont.eot');
    src: url('myluckypenny-webfont.eot?#iefix') format('embedded-opentype'),
         url('myluckypenny-webfont.woff') format('woff'),
         url('myluckypenny-webfont.ttf') format('truetype'),
         url('myluckypenny-webfont.svg#MyLuckyPennyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}