/*  ROOT VARIABLES */
:root{
--primary-color: #161616;
--secondary-color: #f2f5a9;
--tertiary-color: #ffbf00;
--link-color: #00ffff;
--accent-color: #808080;
--other-color: #fe2e2e;
--font-size: 16px;
--font-family: 'VT323', sans-serif;
}
